*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: hsl(0, 0%, 13.73%);
  color: hsl(0, 0%, 100%);
}

.app-bg{
  background-color: hsl(0, 0%, 13.73%);
  /* opacity: 0.9; */
}


a{
  text-decoration: none;
  color: white;
}

.search-bar{
  border: none;
  padding: 4px;
  width: 100%;
}

.sidebar{
  width: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 200ms;
}

input:focus-visible{
  outline: none;
}

input:focus{
  outline: none;
}

.rounded-40{
  border-radius: 40px;
}

.pl-10{
  padding-left: 10px;
}

.icon{
  background-color: hsla(0, 0%, 100%, .08);
  border: 1px solid hsl(0, 0%, 18.82%);
}

.bg-dark-youtube{
  background-color: hsla(0, 0%, 100%, .08);
}

.button{
  background-color: hsla(0, 0%, 100%, .08);
  border: 1px solid hsl(0, 0%, 18.82%);
}

.youtube-border{
  border: 1px solid hsl(0, 0%, 18.82%);
}

.video-container{
  /* background-color: red; */
  height: 400px;
  width: 100%;
}

.rounded-10{
  border-radius: 10px;
}

.main{
  width: 100%;
  /* height: calc(100dvh - 58px); */
  display: flex;
  justify-content: center;
}

.left-section{
  /* background-color: green; */
  width: 60%;
  height: max-content;
}

.right-section{
  /* background-color: rgb(0, 77, 128); */
  width: fit-content;
  height: max-content;
}

.mt-6{
  margin-top: 4.6rem !important;
}

.videoCard{
  /* background-color: rgb(234, 0, 255); */
  height: 100px;
  width: 300px;
  border-radius: 10px; 
}

.videoCard__video{
  /* background-color: rgb(0, 255, 255); */
  height: 100%;
  width: 44%;
  border-radius: 10px;
}

.videoCard__info_title{
  /* height: 30%; */
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fs-sm{
  font-size: 12px;
}

.header{
  width: 100dvw;
}

.header__searchIcon{
  height: 100%;
}

.reaction-button{
  width: fit-content;
}

.active{
  background-color: hsl(0, 0%, 18.82%);
}

.left-section__button{
  height: 40px;
  font-size: smaller;
}

.left-section__description{
  background-color: hsla(0, 0%, 100%, .08);
  border-radius: 10px;
}

.comment__message{
  width: inherit;
}

.comment-section__input{
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 18.82%);
  width: 100%;
  overflow: auto;
}

.header__notification--position{
  position: relative;
  top: -25px;
  right: -5px;
  background-color: red;
  border-radius: 10px;
  font-size: 7px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 980px){
  .main{
    display: flex;
    flex-direction: column;
  }

  .left-section{
    width: inherit;
  }

  .right-section{
    width: 100%;
  }
  
}

@media screen and (max-width: 1200px){
  .download-button{
    display: none;
  }
}


@media screen and (max-width: 695px){
  .header__createText{
    display: none;
  }
}

@media screen and (max-width: 627px){
  .left-section__videoDetails{
    display: flex;
    flex-direction: column;
  }

  .download-button{
    display:block;
  }

  .left-section--mobile-view{
    padding-top: 20px;
  }

  .comment{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
